@import "../../app.scss";

.navbar{
    width: 100%;
    color: white;
    font-size: 16px;
    /* Pomocí kódu níže "přišpendílme NavBar na vrch stránky */    
    position: fixed;
    top:0;
    z-index: 999;

    background: linear-gradient(to top, transparent 0%, rgb(0,0,0,0.3) 50%);
    
    &.scrolled{
        background-color: var(--main-color);
    }
  

    .container{
        padding: 0px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between; /*díky tomuto budeme mít left na levé straně a right na pravé straně*/
        height: 70px;

        .left{
            display: flex;
            align-items: center;
            img{
                height: 30px;
                margin-right: 40px;
                @include mobile{
                    display: none;
                }
            }

            span{
                margin-right: 20px;
                cursor: pointer;

                @include tablet{
                    display: none;
                }

                &.navbarMainLinks{
                    @include tablet{
                        display: block;
                    }
                }

            }
        }

        .right{
            display: flex;
            align-items: center;

            .icon{
                margin: 0px 15px;
                cursor: pointer;
            }

            img{
                width: 30px;
                height: 30px;
                border-radius: 5px;
                object-fit: cover;
                cursor: pointer;
            }

            .profile{
                .options{
                    display: none;
                    flex-direction: column;
                    position: absolute; /* Díky tomuto neposouváme šipku menu při hoveru na ni */
                    background-color: var(--main-color);
                    border-radius: 5px;
                }

                span{
                    padding: 10px;
                    padding-right: 50px;
                    cursor: pointer;
                }

                &:hover{
                    .options{
                        display: flex;
                    }
                }
            }
        }


    }
}

